.display {
  font-size: 130px;
  font-weight: 300;
  margin-bottom: 20px;
  text-align: justify;
  margin-right: 50px;
  text-align: right;
}

.buttons {
  /* display: flex;
    flex-wrap: wrap; */
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
}
@media only screen and (max-width: 600px) {
  .buttons {
    max-width: 600px;
  }
}
